@font-face {
  font-family: "PixelFont";
  src: url(SuperPixel-m2L8j.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-image: linear-gradient(to top, #00eefb, #f738fc);
}
.grid {
  width: 800px;
  height: 700px;
  border: 2px solid #00eefb;
  background-image: url("./images/bg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 7px 14px;
  position: relative;
}
h1 {
  font-family: "PixelFont";
}
#score {
  font-size: 2em;
  font-weight: bold;
  color: white;
  font-family: "PixelFont";
}
.blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.paddle {
  width: 180px;
  height: 30px;
  background-color: #f738fc;
  position: absolute;
  border-radius: 8px;
  animation-name: shadow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes shadow {
  from {
    box-shadow: #f738fc 10px 15px 60px 10px;
  }
  to {
    box-shadow: #00eefb 10px 15px 60px 10px;
  }
}
@media screen and (min-width: 820px) {
  .grid {
    width: 730px;
    height: 536px;
  }
  .container {
    gap: 20px;
  }
}
